@import 'tailwindcss';

@theme {
  --color-page-bg: #0f0f0f;
  --color-component-bg: #121212;
  --color-base-text: #f0f0f0;
  --color-sub-text: #7e7e7e;
  --color-component-outlines: #474747;
  --color-base-red: #ff0014;
  --color-pfp-outline: #d9d9d9;
  --color-base-green: #00ff99;

  --font-main: 'Heebo', sans-serif;
  --font-accent: 'IBM Plex Mono', monospace;
}

body {
  /* background-color: #0f0f0f; */
  height: 100vh;
}
